<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500&family=Tajawal:wght@400;500;700;800;900&display=swap" rel="stylesheet">

<div class="container">
    <div class="tabs">
        <h2 id="tabs-automatic" class="h2">Example Tabs Automatic</h2>
        <div aria-labelledby="tabs-automatic" class="automatic tabs_buttons" role="tablist">
            <button id="tabs-automatic-tab1" class="automatic tabs_buttons_button" aria-controls="tabs-automatic-tab-panel1" tab-section-name="tab 1" 
            tab-title="Example Tabs Automatic" aria-selected="true" role="tab" type="button">
                <span class="focus">tab 1</span>
            </button>
            <button id="tabs-automatic-tab2" class="automatic tabs_buttons_button" aria-controls="tabs-automatic-tab-panel2" tab-section-name="tab 2" tab-title="Example Tabs Automatic" aria-selected="false" role="tab" type="button" tabindex="-1">
                <span class="focus ">tab 2</span>
            </button>
            <button id="tabs-automatic-tab3" class="automatic tabs_buttons_button" aria-controls="tabs-automatic-tab-panel3" tab-section-name="tab 3" tab-title="Example Tabs Automatic" aria-selected="false" role="tab" type="button" tabindex="-1">
                <span class="focus ">tab 3</span>
            </button>
        </div>
        <div id="tabs-automatic-tab-panel1" class="automatic tabs_panel" aria-labelledby="tabs-automatic-tab1" role="tabpanel" tabindex="0">
            <p>Test panel 1 content.</p>
        </div>
        <div id="tabs-automatic-tab-panel2" class="automatic tabs_panel is-hidden" aria-labelledby="tabs-automatic-tab2" role="tabpanel" tabindex="0">
            <p>Test panel 2 content.</p>
        </div>
        <div id="tabs-automatic-tab-panel3" class="automatic tabs_panel is-hidden" aria-labelledby="tabs-automatic-tab3" role="tabpanel" tabindex="0">
            <p>Test panel 3 content.</p>
        </div>
    </div>

    <h2 id="accordion-panel-heading" class="h2">Accordion heading</h2>
    <div class="accordion" id="accordion-panel">
        <h3 class="accordion-title-outer">
            <button aria-expanded="false" class="accordion-trigger" aria-controls="accordion-panel-1-section" id="accordion-panel-1-label" role="button" accordion-section-title="Test header 1" accordion-title="Accordion heading">
                <span class="accordion-title">Test header 1<span class="accordion-icon"></span></span>
            </button>
        </h3>
        <div class="accordion-panel" role="region" id="accordion-panel-1-section" aria-labelledby="accordion-panel-1-label" style="display: none;" hidden="">
            <div>
                <p>Test panel 1 content</p>
            </div>
        </div>
        <h3 class="accordion-title-outer">
            <button aria-expanded="false" class="accordion-trigger" aria-controls="accordion-panel-2-section" id="accordion-panel-2-label" role="button" accordion-section-title="Test header 2" accordion-title="Accordion heading"><span class="accordion-title">Test header 2<span class="accordion-icon"></span></span>
            </button>
        </h3>
        <div class="accordion-panel" role="region" id="accordion-panel-2-section" aria-labelledby="accordion-panel-2-label" hidden="">
            <div>
                <p>Test panel 2 content</p>
            </div>
        </div>
        <h3 class="accordion-title-outer">
                <button aria-expanded="false" class="accordion-trigger" aria-controls="accordion-panel-3-section" id="accordion-panel-3-label" role="button" accordion-section-title="Test header 3" accordion-title="Accordion heading"><span class="accordion-title">Test header 3<span class="accordion-icon"></span></span>
                </button>
        </h3>
        <div class="accordion-panel" role="region" id="accordion-panel-3-section" aria-labelledby="accordion-panel-3-label" hidden="">
            <div>
                <p>Test panel 3 content</p>
            </div>
        </div>
    </div>
  
</div>



