body {
  font-family: "Plus Jakarta Sans", "Tajawal", sans-serif;
  background: #546e7a;
}

/*container wrapper*/
.container.container-centre {
  margin-top: 30px;
  margin-left: 20%;
  margin-right: 20%;
}

.container_form {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.h1 {
  font-size: 33px;
  font-weight: 400;
  line-height: 40px;
}

.h3 {
  font-size: 24px;
  font-weight: 200;
  line-height: 28px;
}

.container_form_label,
.container_form_input,
.container_form_submit {
  display: block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 200;
}

.container_form_label {
  margin-bottom: 5px;
}
.container_form_label-ib {
  display: inline-block;
}

.container_form_input {
  border: 1px solid #ced4da;
  margin-bottom: 20px;
  padding: 5px;
}
.container_form_input:focus {
  border: 1px solid #0b5ed7;
}

.container_form_fieldset {
  border: none;
  padding: 0;
}

.container_form_submit {
  background-color: #64b5f6;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px;
  border: 2px solid #64b5f6;
}
.container_form_submit:hover {
  background-color: #0b5ed7;
  border: 2px solid #0b5ed7;
  outline: 2px solid #000000;
}
.container_form_submit:focus {
  outline: 2px solid #000000;
}

.required {
  color: #f44336;
}

/*custom section*/
.container_form_input-2 {
  display: inline;
  width: 100px;
}
.container_form_label-2 {
  display: inline;
  margin-left: 20px;
}

/*input:invalid {border-color: #F44336;}*/

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .container_form_label,
  .container_form_input,
  .container_form_submit {
    font-size: 18px;
    line-height: 20px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    margin: 20px;
  }
  .container.container-centre {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container_form {
    max-width: 100%;
    width: calc(100% - 20px);
    padding: 10px;
  }

  .h1 {
    font-size: 28px;
    font-weight: 200;
    line-height: 32px;
  }
  .container_form > .h1 {
    color: #000000;
  }

  .h3 {
    font-size: 22px;
    font-weight: 200;
    line-height: 26px;
  }

  .container_form_label,
  .container_form_input,
  .container_form_submit {
    font-size: 16px;
    line-height: 18px;
  }
}
