body {
  font-family: "Plus Jakarta Sans", "Tajawal", sans-serif;
  background: #ffffff;
}

/*container wrapper*/
.container.fullwidth {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  display: block;
}

.container_banner {
  display: block;
  position: relative;
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  text-align: left;
  cursor: pointer;
  width: calc(100% - 40px);
}
.container_banner-error {
  background: #f44336;
  border: 2px solid #f44336;
  color: #ffffff;
}

.container_banner-success {
  background: #4caf50;
  border: 2px solid #4caf50;
  color: #ffffff;
}

.container_banner-alert {
  background: #fdd835;
  border: 2px solid #fdd835;
}

.container_banner-info {
  background: #64b5f6;
  border: 2px solid #64b5f6;
  color: #ffffff;
}

.h2 {
  font-size: 28px;
  font-weight: 200;
  line-height: 32px;
}
.container_banner > .h2 {
  margin-top: 0;
}

.container_banner > .h2 > .close {
  float: right;
  display: block;
}
.close:hover {
  color: #000000;
}
.container_banner-alert > .h2 > .close:hover {
  color: #ffffff;
}

@media screen and (max-width: 700px) {
  .container {
    margin: 20px;
  }
  .container-fullwidth {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container_banner {
    max-width: 100%;
    width: calc(100% - 20px);
    padding: 10px;
  }

  .h2 {
    font-size: 24px;
    line-height: 28px;
  }
}
